html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
}

.Header {
  display: flex;
  padding: 16px;
  background: #000;
  width: 100%;
}

.App_Content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Content {
  width: 100%;
  max-width: 500px;
  border: 1px solid #eee;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* Lock */

.Lock {
  position: relative;
  width: 100px;
  height: 100px;
  background: url('assets/lock-closed.svg');
  border: 0;
  padding: 0;
}

.Lock.isOpen {
  background: url('assets/lock-open.svg');
}

.Lock > .Spinner {
  position: absolute;
  top: 53px;
  left: 35px;
}

/* Spinner */

.Spinner {
  width: 30px;
  height: 30px;
}

.Spinner_Circle1, .Spinner_Circle2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.Spinner_Circle2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

/* Button */

.Button {
  border: 0;
  background: #000000;
  color: #ffffff;
  font-size: 20px;
  padding: 8px;
  border-radius: 3px;
}

.Button:disabled {
  opacity: 0.5;
}